@page "/"

<PageTitle>Home</PageTitle>

<h1>Welkom op het Blazor project van Joël Dierckx</h1>
<p>Hier vindt je een vertaling van Javascript-oefeningen naar C#</p>

<div class="row">
	<div class="col-12 mb-1"><a type="button" class="btn btn-primary" href="movies">Movies</a></div>
	<div class="col-12 mb-1"><a type="button" class="btn btn-primary" href="foto">Foto</a></div>
	<div class="col-12 mb-1"><a type="button" class="btn btn-primary" href="geboortedatum">FunFacts</a></div>
	<div class="col-12 mb-1"><a type="button" class="btn btn-primary" href="dobbelen">Dobbelen</a></div>
</div>